# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: TrackerBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    security.access.comment_voter:
        class:      TrackerBundle\Security\Authorization\Voter\CommentVoter
        public:     false
        tags:
            - { name: security.voter }
    security.access.issue_voter:
        class:      TrackerBundle\Security\Authorization\Voter\IssueVoter
        public:     false
        tags:
            - { name: security.voter }
    security.access.project_voter:
        class:      TrackerBundle\Security\Authorization\Voter\ProjectVoter
        public:     false
        tags:
            - { name: security.voter }
    security.access.user_voter:
        class:      TrackerBundle\Security\Authorization\Voter\UserVoter
        public:     false
        tags:
            - { name: security.voter }
    tracker.issue.listener:
        class:      TrackerBundle\Entity\Listener\IssueListener
        arguments:  ["@security.token_storage"]
        tags:
            - { name: doctrine.orm.entity_listener }
    tracker.comment.listener:
        class:      TrackerBundle\Entity\Listener\CommentListener
        arguments:  ["@security.token_storage"]
        tags:
            - { name: doctrine.orm.entity_listener }
    tracker.activity.listener:
        class:      TrackerBundle\Entity\Listener\ActivityListener
        arguments:  ["@tracker.activity.manager", "@tracker.mail.manager"]
        tags:
            - { name: doctrine.orm.entity_listener }
    tracker.kernel.event_listener:
        class:      TrackerBundle\EventListener\KernelListener
        arguments:  ["@doctrine", "@security.token_storage"]
        tags:
            - { name: kernel.event_listener, event: kernel.view }
    tracker.activity.manager:
        class:      TrackerBundle\Manager\ActivityManager
        arguments:  ["@doctrine", "@router"]
    tracker.test_login.manager:
        class:      TrackerBundle\Manager\TestLoginManager
    tracker.mail.manager:
        class:      TrackerBundle\Manager\MailManager
        arguments:  ["@service_container"]
    tracker.activities.twig_extension:
        class:      TrackerBundle\Twig\ActivitiesExtension
        public:     false
        arguments:  ["@tracker.activity.manager"]
        tags:
            - { name: twig.extension }
